<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gimnasio_AccesoDatos.Properties.Settings.gimnasio_webConnectionString"
            connectionString="Data Source=LAPTOP-9BVCOIFK\SQLEXPRESS;Initial Catalog=gimnasio_web;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>