/*************************************************************************************************************************************************************/
/*********************************************************** ALL DOCUMENT ************************************************************************************/
.w-fill-available {
    width: -webkit-fill-available;
}

.h-fill-available {
    height: -webkit-fill-available;
}

.fixed-left-400-height-68 {
    height: 68px;
    left: 400px;
}

.validator {
    font-size: .875rem;
    color: var(--bs-form-invalid-color);
}

/*************************************************************************************************************************************************************/
/*********************************************************** SITE ********************************************************************************************/
.container-principal {
    height: auto;
    top: 68px;
    bottom: 68px;
    left: 400px;
}

/*************************************************************************************************************************************************************/
/*********************************************************** LOGIN *******************************************************************************************/

/*************************************************************************************************************************************************************/
/*********************************************************** LISTADOS ****************************************************************************************/
.max-height-53-vh {
    max-height: 53vh;
}

.has-icon a {
    font-family: bootstrap-icons !important;
    border: 1px solid #ffc107;
    border-radius: .375rem;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    background-color: #ffc107;
    font-size: 1.2rem;
    transition: .2s;
}

.has-icon a:hover {
    background-color: #ffe30c;
    border-color: #ffe30c;
}

/*************************************************************************************************************************************************************/
/*********************************************************** FOOTER ******************************************************************************************/