/*************************************************************************************************************************************************************/
/*********************************************************** ALL DOCUMENT ************************************************************************************/
.w-fill-available {
    width: -webkit-fill-available;
}

.h-fill-available {
    height: -webkit-fill-available;
}

.fixed-left-400-height-68 {
    height: 68px;
    left: 400px;
}

.validator {
    font-size: .875rem;
    color: var(--bs-form-invalid-color);
}

/*************************************************************************************************************************************************************/
/*********************************************************** SITE ********************************************************************************************/
.container-principal {
    height: auto;
    top: 68px;
    bottom: 68px;
    left: 400px;
}

/*************************************************************************************************************************************************************/
/*********************************************************** LOGIN *******************************************************************************************/

/*************************************************************************************************************************************************************/
/*********************************************************** LISTADOS ****************************************************************************************/
.max-min-height-53-vh {
    max-height: 53vh;
    min-height: 53vh;
}

.max-min-height-40-vh {
    max-height: 40vh;
    min-height: 40vh;
}

.font-family-bootstrap-icons {
    font-family: bootstrap-icons !important;
}

/*************************************************************************************************************************************************************/
/*********************************************************** FORMULARIO SOCIO ********************************************************************************/
.btn-invisible {
    width: 30px;
    height: 30px;
    padding: 5px 2px 2px 5px;
}

.btn-invisible:active {
    border-color: transparent !important;
}

.vh-65 {
    height: 65vh;
}

.checkbox-xl {
    scale: 1.7;
}

/*************************************************************************************************************************************************************/
/*********************************************************** FORMULARIO CUOTA ********************************************************************************/
.top-12-px {
    top: 12px;
}

/*************************************************************************************************************************************************************/
/*********************************************************** FOOTER ******************************************************************************************/